@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url(ShadowsIntoLightTwo-RazM.ttf) format("truetype");
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: #348ec7;
	opacity:1;
}

#loading_text{
	position:absolute;
	top: 30vh;
	left: 35vw;
	font-size: 10vw;
	opacity:1;
}
#running_quilldren{
	position:absolute;
	top: 40vh;
	left: 40vw;
	width: 20vw;
	height: 20vw;
	background-image: url("img/Quildren-1.webp");
	background-size: cover;
	opacity:1;
}
body {
	background-image:url("img/Table.webp");
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family:ShadowsIntoLightTwo;
}

:root {
    --offsetX: 0;
    --offsetY: 0;
	--unit: 1vw;
}

.stickers{
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

@media (min-width: 480px){
	.stickers:hover{
		margin-top: calc(0.1 * var(--unit));
		margin-left: calc(0.1 * var(--unit));
		filter: drop-shadow(0.48vw 0.48vw 0.5vw black);
	}
	.icon:hover{
		margin-top: calc(0.35 * var(--unit));
		margin-left: calc(0.35 * var(--unit));
		filter: drop-shadow(0.48vw 0.48vw 0.5vw black);
	}
	#credits{
		position: absolute;
		top: calc(21.9 * var(--unit));	
		left: calc(17 * var(--unit));
		width: calc(12 * var(--unit));
		height: calc(7.33 * var(--unit));
		background-image: url(img/credits.webp);
		background-size: cover;
		z-index: 100;
	}
	#resources{
		position: absolute;
		top: calc(30.2 * var(--unit));
		left: calc(17 * var(--unit));
		width: calc(12 * var(--unit));
		height: calc(7.33 * var(--unit));
		background-image: url(img/resources.webp);
		background-size: cover;
		z-index: 100;
	}
	#ink {
		width:calc(20 * var(--unit));
		height:calc(20 * var(--unit));
		background-image:url("img/Ink.webp");
		background-size: cover;
		transform: translate(calc(-1.23 * var(--unit)),calc(-5.357 * var(--unit))) rotate(90deg);
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:7;
		transition: opacity 0.5s;
	}
	#twitter{
		transform: translate(calc(0 * var(--unit)),calc(39 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:1;
		transition: opacity 0.5s, transform 0.5s;
	}
	#twitter2{
		width:calc(20 * var(--unit));  
		height:calc(17.04 * var(--unit));  
		background-image:url("img/Twitter.webp");
		background-size: cover;
		transform: rotate(-13deg);
	}
	#pen{
		transform:translate(calc(-2.6 * var(--unit)),calc(13.5 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:2;
		transition: opacity 0.5s, transform 0.5s;
	}
	#pen2{
		width: calc(9 * var(--unit));
		height: calc(30.44 * var(--unit));
		background-image: url("img/Pen.webp");
		background-size: cover;
		transform: rotate(24.03deg);
		}
	#book{
		transform: translate(calc(13.7 * var(--unit)),calc(4 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:5;
		transition: transform 0.5s;
	}
	#book2{
		width:calc(36.7 * var(--unit)); 
		height:calc(44.57 * var(--unit));
		background-image: url("img/book.webp");
		background-size: cover;
		position: absolute;
		transform: rotate(-4.81deg);
		z-index: 2;
		transition: transform 0.5s;
	}
	#book-bg {
		width: calc(63.6 * var(--unit));
		height: calc(43.4 * var(--unit));
		background-image: url("img/book-bgR.webp");
		background-size: cover;
		position: absolute;
		top: calc(2.6 * var(--unit));
		left: calc(-27.2 * var(--unit));
		opacity: 0;
		z-index: 1;
		transition: transform 0.5s;
	}
	#earringsL{
		width:calc(6 * var(--unit)); 
		height:calc(6 * var(--unit));
		background-image:url("img/earringsL.webp");
		background-size: cover;
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transform: translate(calc(5 * var(--unit)),calc(22 * var(--unit)));
		opacity:0;
		z-index:1;
		filter: drop-shadow(0 0 0.3vw black);
		transition: opacity 0.5s;
	}
	#earringsR{
		width:calc(6 * var(--unit)); 
		height:calc(6 * var(--unit));
		background-image:url("img/earringsR.webp");
		background-size: cover;
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transform: translate(calc(89 * var(--unit)),calc(22 * var(--unit)));
		opacity:0;
		z-index:1;
		filter: drop-shadow(0 0 0.3vw black);
		transition: opacity 0.5s;
	}
	
	#pad{
		transform: translate(calc(50 * var(--unit)),calc(24 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:6;
		transition: opacity 0.5s, transform 0.5s;
	}
	#pad2{
		width:calc(33.43 * var(--unit));
		height:calc(26.5 * var(--unit));
		background-image:url("img/Pad.webp");
		background-size: cover;
		transform: rotate(8deg);
	}
	#quilldren{
		width:calc(22 * var(--unit));
		height:calc(22 * var(--unit));
		background-image:url("img/Quildren-2.webp");
		background-size: cover;
		transform: translate(calc(45 * var(--unit)),calc(1 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:3;
		transition: opacity 0.5s, transform 0.5s;
	}
	#cup{
		width:calc(24 * var(--unit));
		height:calc(24 * var(--unit));
		background-image:url("img/Cup.webp");
		background-size: cover;
		transform: translate(calc(82 * var(--unit)),calc(40 * var(--unit))) rotate(-68.99deg);
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transition: opacity 0.5s;
	}
	#toast{
		width:calc(49 * var(--unit));
		height:calc(49 * var(--unit));
		background-image:url("img/Toast.webp");
		background-size: cover;
		transform: translate(calc(68 * var(--unit)),calc(-20 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transition: opacity 0.5s;

	}
	
	.flip-card {
		position: absolute;
		padding-top: calc(1.3 * var(--unit));
		padding-left: calc(4.8 * var(--unit));
		background-color: transparent;
		width: calc(31.8 * var(--unit));
		height: calc(42.8 * var(--unit));
		perspective: calc(200 * var(--unit));; 
		z-index:1;
	}
	#page_cover{
		background-image: url("img/Cover.webp");
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	transform-origin: top left;
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	overflow: hidden;
}

.flip-card-front {
	background-image: url("img/page-even.webp");
	background-size: cover;
}

.flip-card-back {
	background-image: url("img/page-odd.webp");
	background-size: cover;
	transform: rotateY(180deg);
}

#page_first{
	background-image: url("img/page-first.webp");
	background-size: cover;
}
#page_last{
	background-image: url("img/page-last.webp");
	background-size: cover;
}
#page_back_cover{
	background-image: url("img/page-back-cover.webp");
	background-size: cover;
}
#page_cover{
	background-image: url("img/Cover.webp");
	background-size: cover;
	width: 100%;
	height: 100%;
}
#cover{
	z-index: 5;
}

