@media (min-width: 480px){
	.credits-bg {
		position: relative;
		margin: 20px auto;
		width: 61.5vh;
		height: 82vh;
		padding: 0px 10px;
		background-image: url("img/credits-popup-bg.webp");
		background-size: contain;
		background-repeat: no-repeat;
	}
	.credits-container {
		width: 56.5vh;
		height: 80vh;
		margin: 0px auto;
		overflow: auto;
		padding-left: 3vh;
		display: flex;
		flex-direction: column;
	}
	.credits-inside {
		width: 56.5vh;
		height: auto;
		margin: auto;
	}
	.resource-inside {
		margin: auto;
		width: 56.5vh;
		height: auto;
	}
	.popup-article-long-bg {
		position: relative;
		margin: 20px auto;
		width: 60vh;
		height: 80vh;
		background: url(./img/IQD-b-04.webp);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-medium-bg {
		position: relative;
		margin: 20px auto;
		width: 60vh;
		height: 60vh;
		background: url(./img/IQD-b-03.webp);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-text {
		flex: 1;
		font-family: Georgia;
		font-size: 1.8vh;
		padding-left: 7vh;
		padding-right: 7vh;
		margin-top: 6vh;
		text-align:justify;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		overflow: auto;
	}
	.popup-article-author {
		/* color: #FDDA8E; */
		color: #ffffff;
		text-align: center;
		font-family: Georgia;
		font-size: 1.8vh;
		padding-top: 5vh;
		padding-left: 5vh;
		padding-right: 5vh;
		padding-bottom: 5vh;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}