@media (min-width: 480px){
	.credits-bg {
		position: relative;
		margin: 20px auto;
		width: 61.5vh;
		height: 82vh;
		padding: 0px 10px;
		background-image: url("img/credits-popup-bg.png");
		background-size: contain;
		background-repeat: no-repeat;
	}
	.credits-container {
		width: 56.5vh;
		height: 80vh;
		margin: 0px auto;
		overflow: auto;
		padding-left: 3vh
	}
	.credits-inside {
		width: 56.5vh;
		height: auto;
	}
	.popup-article-long-bg {
		position: relative;
		margin: 20px auto;
		width: 48vh;
		height: 64vh;
		background: url(./img/article-popup-long-bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-medium-bg {
		position: relative;
		margin: 20px auto;
		width: 48vh;
		height: 48vh;
		background: url(./img/article-popup-medium-bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-text {
		flex: 1;
		font-family: Georgia;
		font-size: 1.8vh;
		padding-left: 5vh;
		padding-right: 5vh;
		padding-top: 2vh;
		text-align:justify;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		overflow:hidden;
	}
	.popup-article-author {
		text-align: center;
		font-family: Georgia;
		font-size: 1.8vh;
		padding-left: 5vh;
		padding-right: 5vh;
		padding-bottom: 3vh;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}