@media (max-width: 480px){
	#credits{
		position: absolute;
		top: calc(65.5 * var(--unit));
		left: calc(51.3 * var(--unit));
		width: calc(36 * var(--unit));
		height: calc(22 * var(--unit));
		background-image: url(img/credits.webp);
		background-size: cover;
		z-index: 100;
		display: none;
	}
	#resources{
		position: absolute;
		top: calc(90.2 * var(--unit));
		left: calc(51.1 * var(--unit));
		width: calc(36 * var(--unit));
		height: calc(22 * var(--unit));
		background-image: url(img/resources.webp);
		background-size: cover;
		z-index: 100;
		display: none;
	}
	#twitter{
		transform: translate(calc(-12 * var(--unit)),calc(155 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:1;
		transition: opacity 0.5s, transform 0.5s;
	}
	#twitter2{
		width:calc(52 * var(--unit));  
		height:calc(44.3 * var(--unit));  
		background-image:url("img/Twitter.webp");
		background-size: cover;
		transform: rotate(-13deg);
	}
	#pen{
		transform: translate(calc(29 * var(--unit)),calc(155 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:2;
		transition: opacity 0.5s, transform 0.5s;
	}
	#pen2{
		width: calc(23 * var(--unit));
		height:calc(82.2 * var(--unit));
		background-image:url("img/Pen.webp");
		background-size: cover;
		transform: rotate(26deg);
	}
		
	
	#cup{
		width:calc(70 * var(--unit));
		height:calc(70 * var(--unit));
		background-image:url("img/Cup.webp");
		background-size: cover;
		transform: translate(calc(60 * var(--unit)),calc(155 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transition: opacity 0.5s;
	}
	#book{
		transform: translate(calc(0 * var(--unit)),calc(35 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:5;
		transition: transform 0.5s;
	}
	#book2{
		width:calc(95.5 * var(--unit)); 
		height:calc(117.25 * var(--unit));
		background-image: url("img/book.webp");
		background-size: cover;
		position: absolute;
		transform: rotate(-4.81deg);
		z-index: 2;
		transition: height 0.5s,width 0.5s;
	}

	#book-bg {
		width: calc(109 * var(--unit));
		height: calc(133 * var(--unit));
		background-image: url("img/book.webp");
		background-size: cover;
		position: absolute;
		top: calc(0 * var(--unit));
		left: calc(-82 * var(--unit));
		transform: scaleX(-1);
		transition: transform 0.5s,left 0.3s;
		opacity: 0;
		z-index: 1;
	}

	#earringsL{
		width:calc(16 * var(--unit)); 
		height:calc(16 * var(--unit));
		background-image:url("img/earringsL.webp");
		background-size: cover;
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transform: translate(calc(5 * var(--unit)),calc(165.5 * var(--unit)));
		opacity:0;
		z-index:1;
		filter: drop-shadow(0 0 1vw black);
		transition: opacity 0.5s;
	}
	#earringsR{
		width:calc(16 * var(--unit)); 
		height:calc(16 * var(--unit));
		background-image:url("img/earringsR.webp");
		background-size: cover;
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		transform: translate(calc(79 * var(--unit)),calc(165.5 * var(--unit)));
		opacity:0;
		z-index:1;
		filter: drop-shadow(0 0 1vw black);
		transition: opacity 0.5s;
	}
	
	#pad{
		transform: translate(calc(29 * var(--unit)),calc(-1 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:6;
		transition: opacity 0.5s, transform 0.5s;
	}
	#pad2{
		width:calc(72 * var(--unit));
		height:calc(57.08 * var(--unit));
		background-image:url("img/Pad.webp");
		background-size: cover;
		transform: rotate(11deg);
	}
	#quilldren{
		width:calc(65 * var(--unit));
		height:calc(65 * var(--unit));
		background-image:url("img/Quildren-2.webp");
		background-size: cover;
		transform: translate(calc(55 * var(--unit)),calc(100 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:5;
		transition: opacity 0.5s, transform 0.5s;
	}
	#ink {
		width:calc(50 * var(--unit));
		height:calc(50 * var(--unit));
		background-image:url("img/Ink.webp");
		background-size: cover;
		transform: translate(calc(-20 * var(--unit)),calc(-10 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		z-index:7;
		transition: opacity  0.5s;
	}
	#toast{
		width:calc(65 * var(--unit));
		height:calc(65 * var(--unit));
		background-image:url("img/Toast.webp");
		background-size: cover;
		transform: translate(calc(17 * var(--unit)),calc(170 * var(--unit)));
		position: absolute;
		top: var(--offsetY); left: var(--offsetX);
		opacity: 0;
		transition: opacity  0.5s;

	}
	.flip-card {
		position: absolute;
		padding-top: calc(3.4 * var(--unit));
		padding-left: calc(12.7 * var(--unit));
		background-color: transparent;
		width: calc(83 * var(--unit));
		height: calc(112.5 * var(--unit));
		z-index: 1;
		perspective: calc(200 * var(--unit));
		transition: transform 0.5s,width 0.5s,height 0.5s;
	}
	#page_cover{
		background-image: url("img/page-cover.webp");
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}