@media (max-width: 480px){
	.credits-bg {
		position: relative;
		margin: 20px auto;
		width: 81vw;
		height: 108vw;
		padding: 0px 10px;
		background-image: url("img/credits-popup-bg.webp");
		background-size: contain;
		background-repeat: no-repeat;
	}
	.credits-container {
		width: 75vw;
		height: 107vw;
		margin: 0px auto;
		overflow: auto;
		padding-left: 3vw;
		display: flex;
		flex-direction: column;
	}
	.credits-inside {
		width: 75vw;
		height: auto;
		margin: auto;
	}
	.resource-inside {
		margin: auto;
		width: 75vw;
		height: auto;
	}
	.popup-article-long-bg {
		position: relative;
		margin: 20px auto;
		width: 81vw;
		height: 108vw;
		background: url(./img/IQD-b-04.webp);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-medium-bg {
		position: relative;
		margin: 20px auto;
		width: 81vw;
		height: 81vw;
		background: url(./img/IQD-b-03.webp);
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
	}
	.popup-article-text {
		flex: 1;
		font-family: Georgia;
		font-size: 0.7rem;
		padding-left: 10vw;
		padding-right: 10vw;
		margin-top: 9vw;
		text-align:justify;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		overflow: auto;
	}
	.popup-article-author {
		/* color: #FDDA8E; */
		color:#ffffff;
		text-align: center;
		font-family: Georgia;
		font-size: 0.8rem;
		padding-top: 10vw;
		padding-left: 7vw;
		padding-right: 7vw;
		padding-bottom: 5vw;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}